@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

/*mobile first*/

:root {
    --cor0: #B6F97F;
    --cor1: #8CF734;
    --cor2: #6FC429;
    --cor3: #65B226;
    --cor4: #58783D;
    --cor5: #FFCF4F;

    --fonte-padrao: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-passion: 'Passion One', cursive; 
    --fonte-sigmar: 'Sigmar', cursive;
    
}


body {
    background-image: url('../imagens/fundo.jpg');
    min-height: 100vh;
    background-position: left center;
    background-repeat: repeat;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
 background-image: linear-gradient(to bottom, var(--cor3), var(--cor2));
 text-align: center;
}

header > h1 {
    font-family: var(--fonte-passion);
    font-weight: normal;
    font-variant: small-caps;
    color: var(--cor5);
    font-size: 2.2em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.411);

    padding-top: 50px;
}

header > p {
    font-family: var(--fonte-passion);
    padding-bottom: 50px;
    color: white;
    font-size: 1em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.411);
}

header > p::before {
    content: "🐾 ";
}

nav {
    display: block;
    background-color: var(--cor2);
    padding-bottom: 3px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.253);
}

nav > a { 
    font-family: var(--fonte-passion);
    color: white;
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 1.5em;
    border-radius: 5px;
    margin-left: 5px;
}



nav > a:hover {
    background-color: var(--cor5);
    color: var(--cor4);
    transition: 0.3s;
}

span.material-icons {
    color: white;
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 1.5em;
    border-radius: 5px;
    margin-left: 5px;
}


span.material-icons:hover {
    background-color: var(--cor5);
    color: var(--cor4);
    transition: 0.3s;
    cursor: pointer;
}

main {
    background-color: white;
    min-width: 200px;
    max-width: 300px;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.562);
}

section > h1 {
    padding: 20px;
}

section > p {
    padding: 5px;
    text-indent: 20px;
    line-height: 2em;
}