@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root {
    --cor0: #69FB8B;
    --cor1: #1EFA51;
    --cor2: #18C741;
    --cor3: #337A44;
    --cor4: #0F7A28;
    --cor5: #A0FA9E;

    --fonte-padrao: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-passion: 'Passion One', cursive;
}

body {
    background-image: url('../imagens/fundo1.png');
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    

}

* {
    margin: 0px;
    padding: 0px;
}

header {
 background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
 text-align: center;
 box-shadow: 0px 20px 20px 20px rgba(0, 0, 0, 0.514);
}

header > h1 {
    font-family: var(--fonte-passion);
    font-weight: normal;
    font-variant: small-caps;
    color: white;
    font-size: 10vh;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.411);

    padding-top: 50px;
}

header > p {
    font-family: var(--fonte-passion);
    padding-bottom: 50px;
    color: white;
    font-size: 3vh;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.411);
}

header > p::before {
    content: "🐾 ";
}

nav {
    background-color: var(--cor4);
    padding-bottom: 3px;
}

nav > a {
    font-family: var(--fonte-passion);
    color: black;
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 2em;
    border-radius: 5px;
    margin-left: 5px;
}

nav > a:hover {
    background-color: var(--cor1);
    color: white;
    transition: 0.3s;
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.562);
}

section > h1 {
    padding: 20px;
}

section > p {
    padding: 5px;
    text-indent: 20px;
    line-height: 2em;
}